name: Test

on:
  push:
  pull_request:
  schedule:
    # In addition to testing on push, test every day (at 18:23). This
    # is intended to detect bit rot caused by changes in the OS and
    # SBCL, as well as regressions in SBCL's latest-dev rolling
    # release.
    - cron: "23 18 * * *"

jobs:
  test-stable:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        lisp: [sbcl-bin]
        os: [ubuntu-latest]
    steps: &test_steps
      - uses: actions/checkout@v4

      # - name: A hack for faster testing of test-dev
      #   if: github.job == 'test-stable'
      #   run: exit 1

      - name: Setup Lisp
        uses: ./.github/actions/roswell-setup
        with:
          lisp: ${{ matrix.lisp }}

      - name: Install Dependencies
        run: |
          if [ "$ROS_LISP" = "abcl-bin" ]; then
              sudo apt-get -y install maven;
          fi
          ros install melisgl/named-readtables
          ros install melisgl/try
          ros install 3b/3bmd
          cd ~/.roswell/local-projects/
          git clone --depth 1 https://github.com/slime/slime.git

      - name: Run DRef tests
        run: |
          ros run -e '(ql:quickload :dref-test)' -q
          ./dref/test/test.sh $ROS_LISP

      - name: Run MGL-PAX tests
        run: |
          ros run -e '(ql:quickload :mgl-pax-test)' -q
          ./test/test.sh $ROS_LISP

      - name: Run Elisp tests (on SBCL only)
        if: startsWith(env.ROS_LISP, 'sbcl')
        run: |
          sudo apt-get -y install emacs-nox w3m-el
          ./test/test-el.sh "ros --lisp $ROS_LISP run"

  test-dev:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    needs: test-stable
    if: always() && !cancelled()
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        lisp: [sbcl-bin-url:https://github.com/melisgl/sbcl/releases/download/latest-dev/sbcl_linux_x86-64_--with-sb-thread_latest-dev_bin.tar]
        os: [ubuntu-latest]
    steps: *test_steps
